/*
Urscha Fajdiga 11377437
This file is styles the map.html page, storytelling.html and design.html
*/
body {text-align: center; font-family: verdana; font-size: 12px}

h1 {color: grey}

h2 {color: dark-grey; font-size: 15px}

li {text-align: left}

.datamaps-legend {width: 180px; position: relative; margin-top: -200px}

.tooltip { position: absolute; width: 150px; height: 28px; pointer-events: none; text-align: left}

.bg-4 { background-color: #2f2f2f; color: #fff; bottom: 0; width: 100%; padding-top: 10px}

.storytelling {width: 700px; margin: auto}

.left {text-align: left}

#container {width: 1053px; position: relative; height: 800px; margin: auto}

#extra_text {padding-top: 50px; align: center; width: 750px; margin: auto}